#!/usr/bin/env ruby

passthrough "/CNAME"
passthrough "/favicon.*"
passthrough "/assets/fonts/*"
passthrough "/assets/css/images/*"
passthrough "/assets/js/ie/*.htc"
passthrough "/images/**/*"

compile "/assets/css/**/*.css" do
  filter :rainpress
  write item.identifier.to_s
end

compile "/assets/js/**/*.js" do
  filter :uglify_js
  write item.identifier.to_s
end

compile '/**/*.html' do
  layout '/default.*'
end

compile "/blog/index.erb" do
  layout "/default.html"
  filter :erb
  write item.identifier.without_exts + ".html"
end

compile "/blog/feed_xml.erb" do
  filter :erb
  write "/blog/feed.xml"
end

compile "/blog/*" do
  layout "/blog_post.html"
  filter :erb if item.identifier.ext == "erb"
  write item.identifier.without_exts + "/index.html"
end

compile "/sitemap_xml.erb" do
  filter :erb
  write "/sitemap.xml"
end

compile "/robots_txt.erb" do
  filter :erb
  write "/robots.txt"
end

compile "/**/*" do
  next if item[:is_partial]

  filter :erb if item.identifier.ext == "erb"

  layout "/default.html"

  if item.identifier =~ "/index.*"
    write "/index.html"
  else
    write item.identifier.without_exts + ".html"
  end
end

layout '/**/*', :erb
