---
title: Blog
---

<section>
  <header class="major">
    <h2>Blog posts</h2>
  </header>

  <ul class="blog-posts">
    <% sorted_articles.each do |post| %>
      <li>
        <h3>
          <span class="publication-date pull-right"><%= attribute_to_time(post[:created_at]).strftime("%b %d, %Y") %></span>
          <%= link_to post[:title], post.path %>
        </h3>
      </li>
    <% end %>
  </ul>
</section>
