---
title: Projects
---

<header class="major">
  <h2>Projects</h2>
</header>

<section id="gitrob">
  <header class="major">
    <h3><a href="https://github.com/michenriksen/gitrob">Gitrob</a></h3>
  </header>
  <p>Gitrob is a command line tool which can help organizations and security professionals find sensitive information lingering in publicly available files on GitHub. The tool will iterate over all public organization and member repositories and match filenames against a range of patterns for files that typically contain sensitive or dangerous information.</p>
</section>

<section id="aquatone">
  <header class="major">
    <h3><a href="https://github.com/michenriksen/aquatone">AQUATONE</a></h3>
  </header>
  <p>AQUATONE is a set of tools for performing reconnaissance on domain names. It can discover subdomains on a given domain by using open sources as well as the more common subdomain dictionary brute force approach. After subdomain discovery, AQUATONE can then scan the hosts for common web ports and HTTP headers, HTML bodies and screenshots can be gathered and consolidated into a report for easy analysis of the attack surface.</p>
</section>

<section id="birdwatcher">
  <header class="major">
    <h3><a href="https://github.com/michenriksen/birdwatcher">Birdwatcher</a></h3>
  </header>
  <p>Birdwatcher is a data analysis and OSINT framework for Twitter. Birdwatcher supports creating multiple workspaces where arbitrary Twitter users can be added and their tweets harvested through the Twitter API for offline storage and analysis. Birdwatcher comes with several modules which can be envoked to further enrich collected data or work with it, e.g. Retrieving user's Klout score, generating social graphs between users and weighted word clouds based on their Tweets.</p>
</section>

<section id="drawio_threat_modeling">
  <header class="major">
    <h3><a href="https://github.com/michenriksen/drawio-threatmodeling">Data Flow Diagram and Attack Tree libraries for draw.io</a></h3>
  </header>
  <p>Data Flow Diagrams (DFD) and Attack Trees are common tools when performing threat modeling of systems. Unfortunately there aren't a lot of tools out there to do this, which lead me to create custom libraries for doing both DFD and Attack Trees in the free and cros-platform <a href="https://www.draw.io/">draw.io</a> diagramming tool.</p>
</section>

<section id="searchpass">
  <header class="major">
    <h3><a href="https://github.com/michenriksen/searchpass">Searchpass</a></h3>
  </header>
  <p>Searchpass is a simple tool for offline searching of default credentials for network devices, web applications and more.</p>
</section>

<section id="diceware">
  <header class="major">
    <h3><a href="https://diceware.herokuapp.com/">Diceware Password Generator</a></h3>
  </header>
  <p><a href="https://en.wikipedia.org/wiki/Diceware">Diceware</a> is a method for creating secure passphrases. The normal procedure requires several rolls with a die which can be pretty time consuming, but the Diceware Passphrase Generator simulates this procedure in code to make it much faster. The passphrase generation is done with client-side Javascript, so no passphrase is ever transfered over the wires, and the Javascript code is delivered over TLS/SSL which provides reasonable protection against tampering.</p>
</section>

<section id="hackpad">
  <header class="major">
    <h3><a href="https://hackpad.herokuapp.com/">Hackpad</a></h3>
  </header>
  <p>HackPad is a web application hacker's toolbox. It is meant as a central place to access all the common encoding and decoding functions that are often used when doing a security assessment on a web application. All functions are implemented in client-side Javascript, so there is no risk of leaking sensitive data.</p>
</section>

<section id="tools_more">
  <header class="major">
    <h3>More</h3>
    <p>This far from a complete list of tools and projects, I play around with stuff all the time and open-source most of it. You can check out my <a href="<%= config[:github_url] %>">GitHub profile</a> for more.</p>
  </header>
</section>
