---
title: About Michael
---

<section id="about">
  <header class="major">
    <h2>About Michael</h2>
  </header>

  <p>I am an engineer and overall geek with a special passion for everything surrounding security. My main areas of focus are web application security, threat modeling, digital reconnaissance and open source intelligence. I am also fascinated by the physical aspect of information security and spend some of my evenings picking locks or learning about weaknesses in physical security.</p>

  <p>As an engineer, I like to develop open-source tools, mainly focussed on reconnaissance/OSINT and web application security. Some of my projects have gained quite a lot of popularity in the information security community and some have even gotten covered in books, such as <a href="http://thehackerplaybook.com/">The Hacker Playbook</a>. You can learn more about my projects <a href="/projects">here</a>.</p>

  <p>I currently work as a security engineer at <a href="https://soundcloud.com/">SoundCloud</a> where I spend the time finding security flaws in code, developing threat models, looking at Kibana screens, tuning alerts and many other things.</p>

  <p>When I’m not in front of a screen, you can usually find me in the gym where I do my <a href="https://stronglifts.com/5x5/">5x5 powerlifting</a> training, or when the weather calls for it, somewhere in a forest hiking. Other than that, I enjoy experimenting with new recipes and cooking (mostly) healthy meals with my girlfriend.</p>

  <p>You read all the way to here? Amazing! Then maybe you are also interested in checking out my <a href="/blog">blog</a>, or maybe even following me on <a href="<%= config[:twitter_url] %>">Twitter</a>.</p>
</section>
